*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

h1{
    background-color: black;
    color:yellow;
    display: flex;
    align-self: center;
    justify-content: center;
}

h3{
    color:black;
    display: flex;
    align-self: center;
    justify-content: center;
}


img{
    height:150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px  solid black;
}
.choice{
    height:165px;
    width:165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor: pointer;
    background-color: black;
}

.choices{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
}

.score-board{
    display:flex;
    align-items: center;
    justify-content:center;
    margin-top: 1rem;
    font-size: 2rem;
    gap:3rem;
    text-align: center;
}

#msg{
    display:flex;
    align-items: center;
    justify-content:center; 
    font-size: 2rem;
    margin-top: 40px;
    background-color: black;
    color:yellow;
}